
<%= link_to new_post_path do %>
  Enter new post here
<% end %>
<% @posts_with_username.each do |post| %>
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <div class="card-title-container">
        <h5 class="card-title">Post by <%= post[:author_name] %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post[:formatted_time]%></h6>
        <%= image_tag("eggheads/egghead#{Random.rand(3) + 1}.png", :class => "profile-pic")%>
      </div>
      <p class="card-text"><%= post[:message] %></p>
      <p class="card-text">3 Likes</p>
      <a href="#" class="card-link">Like</a>
      <a href="#" class="card-link">Comment</a>
    </div>
  </div>
<% end %>

