
<div class="card">
  <div class="card-header">
    <h2>
      Create post
    </h2>
  </div>
  <div class="card-body">
    
    <p class="card-text">
          <h1>
            <%= form_for @post do |form| %>
              <%= form.label :message %>
              <%= form.text_field :message %><br>
              <%# <br>
              <%= form.label :image_upload%>
              <%# <%= form.file_field :image_upload%>
              <%= form.hidden_field(:user_id, :value => @user_id) %>
      
              <%= form.submit "Submit" %>
            <% end %>
          </h1>
    </p>
  </div>
</div>
